################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AttendanceSystem.API/bin/Debug/net8.0
/AttendanceSystem.API/obj
/AttendanceSystem.Domain/bin/Debug/net8.0
/AttendanceSystem.Domain/obj
/AttendanceSystem.Infra/obj
